<div [formGroup]="form">
  <label for="password">Password</label>
  <input formControlName="password" type="password" id="password" required />
  <div
    *ngIf="
      form.get('password').touched && form.get('password').hasError('required')
    "
    class="error"
  >
    password is required
  </div>

  <label for="confirm-password">Confirm Password</label>
  <input
    formControlName="confirmPassword"
    type="password"
    id="confirm-password"
    required
  />
  <div
    *ngIf="
      form.get('confirmPassword').touched &&
      form.get('confirmPassword').hasError('required')
    "
    class="error"
  >
    password is required
  </div>

  <!-- <div *ngIf="form?.controls?.password?.touched && form?.controls?.confirmPassword?.touched && form?.errors?.missmatch"
    class="error">
    passwords do not match
  </div> -->
  <br />
  <button (click)="check()">click</button>
</div>
